1.  What are data structures, and why  
     are they important ?
     - Data structures are a way to organize and store data in a way that's efficient and easy to access. They're fundamental to computer science and programming, and are used in many fields, including software development, AI, machine learning, and financial services. Data structures are important because they:
     (a)Make data easier to understand.
     (b)Enable higher-level data operations.
     (c)Help solve complex problems
2.  Explain the difference between mutable and immutable data types with examples.
  - The main difference between mutable and immutable data types is that mutable data types can be changed after creation, while immutable data types cannot. lists, dictionaries, and sets are mutable whereas  strings , tuple are immutable.
3. What are the main differences between lists and tuples in Python?
  - The primary difference between lists and tuples in Python lies in their mutability. Lists are mutable, meaning you can modify their elements after creation (add, remove, or change).Tuples are immutable, meaning their elements cannot be changed once created.
4. Describe how dictionaries store data.
  - Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered , changeable and do not allow duplicates.
5. Why might you use a set instead of a list in Python?
  - Sets are unordered collections of unique elements. Here's why you might prefer them over lists:
  Membership testing: Checking if an element exists in a set is very fast
   (O(1) time complexity).
  Removing duplicates: Sets automatically remove duplicate elements, making them useful for cleaning up data.
   Set operations: You can easily perform set operations like union, intersection, and difference.
6. What is a string in Python, and how is it different from a list?
  - String: A sequence of characters (letters, numbers, symbols) enclosed in single or double quotes.Strings are immutable, while lists are mutable.
  trings are optimized for string operations, while lists are more general-purpose.
7.  How do tuples ensure data integrity in Python?
  - Tuples are immutable, meaning their contents cannot be changed after creation. This helps ensure data integrity because it prevents accidental or unauthorized modifications to the data.
8. What is a hash table, and how does it relate to dictionaries in Python?
  - Hash table: A data structure that uses a hash function to map keys to indices in an array. This allows for very fast lookups of values based on their keys.Relation to dictionaries: Python dictionaries are implemented using hash tables, which is why accessing values by their keys is so efficient.
9. Can lists contain different data types in Python?
  - Yes, lists in Python can contain elements of different data types. For example, a list can contain integers, strings, floats, and even other lists.
10. Explain why strings are immutable in Python.
  - Strings are immutable for several reasons, including:
  Efficiency: Immutable objects can be shared between different parts of the program without worrying about unintended side effects.
  Hashing: Immutability is crucial for hashing, which is used for efficient dictionary lookups.
  Thread safety: Immutable objects can be safely accessed by multiple threads without the need for locks.
11. What advantages do dictionaries offer over lists for certain tasks?
  - Fast lookups: You can access elements in a dictionary by their keys in constant time (O(1) on average).
  Associative data: Dictionaries naturally store key-value pairs, making them ideal for representing relationships between data.
12. Describe a scenario where using a tuple would be preferable over a list.
  - When you want to ensure that the data remains unchanged, using a tuple is preferable. For example, you might use a tuple to store configuration settings that should never be modified after the program starts.
13. How do sets handle duplicate values in Python?
  - Sets automatically remove duplicate values. So, if you add the same element multiple times to a set, only one instance of that element will be stored.
14. How does the "in" keyword work differently for lists and dictionaries?
  - Lists: The in keyword checks if an element exists within the list. This requires iterating through the list, which can be slower for large lists.Dictionaries: The in keyword checks if a key exists in the dictionary. This is very fast because it uses the hash table's efficient lookup mechanism.
15. Can you modify the elements of a tuple? Explain why or why not.
  - No, you cannot modify the elements of a tuple after it's created. Tuples are immutable, meaning their contents cannot be changed.
16. What is a nested dictionary, and give an example of its use case.
  - A nested dictionary is a dictionary where one or more values are themselves dictionaries.
17. Describe the time complexity of accessing elements in a dictionary.
  - The time complexity of accessing an element in a dictionary by its key is typically O(1), meaning it takes constant time regardless of the size of the dictionary. This is because dictionaries are implemented using hash tables.
18. In what situations are lists preferred over dictionaries?
  - Ordered data: When you need to maintain the order of elements, lists are preferred.
  Duplicate values: If you need to store duplicate values, lists are the way to go.When you need to modify elements frequently: Since lists are mutable, they are better suited for situations where you need to add, remove, or change elements often.
19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  - Dictionaries are considered unordered because the order in which key-value pairs are stored is not guaranteed. You cannot rely on the order of elements when iterating over a dictionary. You always retrieve values using their keys.
20. Explain the difference between a list and a dictionary in terms of data retrieval.
  - Lists: You access elements in a list by their index (position).
     Dictionaries: You access elements in a dictionary by their keys.


PRACTICAL QUESTIONS

1. Write a code to create a string with your name and print it.

In [1]:
my_name = "Faizan Ahmad"
print(my_name)

Faizan Ahmad

2. Write a code to find the length of the string "Hello World".

In [3]:
a= "Hello World"
print(a)
print(len(a))

Hello World
11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [4]:
text = "Python Programming"
first_three = text[:3]
print(first_three)

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [5]:
text = "hello"
uppercase_text = text.upper()
print(uppercase_text)

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [6]:
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [7]:
numbers = list(range(1, 6))
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [8]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [9]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [10]:
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

10. Write a code to reverse the list [10, 20, 30, 40, 50]

In [11]:
numbers = [10, 20, 30, 40, 50]
reversed_numbers = numbers[::-1]
print(reversed_numbers)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [12]:
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [13]:
my_tuple = ('apple', 'banana', 'cherry')
first_element = my_tuple[0]
print(first_element)

apple

13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [14]:
my_tuple = (1, 2, 3, 2, 4, 2)
count = my_tuple.count(2)
print(count)

3

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [15]:
my_tuple = ('dog', 'cat', 'rabbit')
index = my_tuple.index('cat')
print(index)

1

15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [16]:
my_tuple = ('apple', 'orange', 'banana')
if 'banana' in my_tuple:
    print("banana is in the tuple")
else:
    print("banana is not in the tuple")

banana is in the tuple

16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [17]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

17. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [18]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

18. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [19]:
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [20]:
my_tuple = ('apple', 'banana', 'cherry')
first_element = my_tuple[0]
print(first_element)

apple

20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [21]:
my_tuple = (1, 2, 3, 2, 4, 2)
count = my_tuple.count(2)
print(count)

3

21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [22]:
my_tuple = ('dog', 'cat', 'rabbit')
index = my_tuple.index('cat')
print(index)

1

22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [23]:
my_tuple = ('apple', 'orange', 'banana')
if 'banana' in my_tuple:
    print("banana is in the tuple")
else:
    print("banana is not in the tuple")

banana is in the tuple

23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [ ]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

24. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [ ]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)